# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.suo
*.iobj
*.ipdb
*.pdb
*.tlog
*.log
*.lastbuildstate
/vs2012_vector_optimization_bug/vs2012_vector_optimization_bug/x64/Debug_vs2012
/vs2012_vector_optimization_bug/x64/Debug_vs2012
*.user
/vs2012_vector_optimization_bug/x64/Debug_vs2015
/vs2012_vector_optimization_bug/vs2012_vector_optimization_bug/x64/Debug_vs2015
